.filter{
  display: inline-block;
  padding: 0.2rem  0.75rem 0.35rem 0.75rem;
  border-radius: 35pt;
  color: var(--white);
  margin-right: 1rem;
  transition: background-color 0.3s;
  background-color: var(--green);
  /* margin-bottom: 1rem; */
}

.filter:hover{
  background-color: var(--purple);
  cursor: pointer;
}

.active{
  background-color: var(--purple);
}

/* Responsive */
@media (max-width: 768px) {
  .filter {
    padding: 0.15rem 0.5rem 0.25rem 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
  }
}