.intro, .options {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 5rem;
  width: 100%;
}

.intro {
  position: relative;
}

h1, h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin-top: 1rem;
  text-align: left;
  width: 100%;
}

p {
  font-size: 1rem;
  text-align: justify;
  width: 100%;
}

.intro ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 3rem;
  width: 100%;
}

.intro ul li {
  font-size: 1rem;
  padding: 0.5rem;
}

table {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

table, thead, tbody, tr, th, td {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-collapse: collapse;
  font-size: 0.9rem;
}

th, tr, td {
  padding: 0.5rem;
  text-align: justify;
}

.kiku {
  object-fit: cover;
  opacity: 0.2;
  position: absolute;
  top: 150px;
  z-index: -2;
}

.option-buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.kanji, .kotoba, .bunpou, .kanas {
  align-items: center;
  background-color: var(--strong-gold);
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--chalk-grey);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 300px;
}

.kanji h2, .kotoba h2, .bunpou h2, .kanas h2 {
  font-size: 5rem;
  margin-top: 0rem;
}

.kanji p, .kotoba p, .bunpou p, .kanas p {
  bottom: -0.5rem;
  letter-spacing: 0.3rem;
  position: absolute;
  text-align: center;
}

.kanji:hover, .kotoba:hover, .bunpou:hover, .kanas:hover {
  background-color: rgb(202, 169, 69);
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s;
}

.titleGroup {
  align-items: center;
  display: flex;
  position: relative;
}

.jp-line {
  font-family: "LINE Seed JP", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  color: var(--white);
  text-decoration: none;
}