.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 6rem);
  padding: 1rem 3rem;
}

.section h2{
  color: var(--white);
  font-weight: 700;
  text-align: center;
  padding: 1%;
}