.grid{
  display: grid;
  gap: 3rem;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
  "hiragana katakana dakuon"
  "yoon yoon sokuon";
}

.kanas {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.kanas p{
  margin-bottom: auto;
}

.kanas table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  text-align: center;
  background-color: var(--chalk-grey);
  border: 3px solid var(--strong-gold);
}

.kanas th,.kanas tr,.kanas td {
  text-align: center;
  padding: 1rem;
  color: var(--white);
}

.kanas th:hover,.kanas td:hover{
  background-color: var(--strong-gold);
  transition: 0.2s;
}

.kanas td:hover{
  transform: scale(1.5);
}

.hiragana {
  grid-area: hiragana;
}

.katakana {
  grid-area: katakana;
}

.dakuon {
  grid-area: dakuon;
}

.yoon {
  grid-area: yoon;
}

.yoon tr, .yoon th, .yoon td {
  font-size: 0.8rem;
}

.sokuon {
  grid-area: sokuon;
}

.sokuon h2 {
  margin-bottom: 1rem;
}