.logo-anchor {
  text-decoration: none;
}

.navbar, .logo {
  align-items: center;
  background-color: var(--chalk-grey);
  display: flex;
  justify-content: center;
}

.navbar {
  padding: 0.25rem 1rem;
}

.logo > img {
  max-height: 75px;
  object-fit: contain;
}

.navbar ul {
  align-items: center;
  display: flex;
  margin-bottom: 0px;
  margin-left: auto;
}

.navbar ul li {
  list-style-type: none;
  padding: 0.5rem;
}

.navbar ul li a {
  color: var(--white);
  text-decoration: none;
}

.logout i {
  color: var(--white);
  cursor: pointer;
}

.navbar i {
  border: 1px solid var(--white);
  border-radius: 50%;
  padding: 0.5rem;
}
}