@font-face {
  font-family: "KanjiStrokeOrders";
  src: url("/web/src/assets/fonts/KanjiStrokeOrders_v4.005.ttf");
}

:root {
  /* Fonts */
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Dark theme */
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--smoke-grey);
  
  /* Colore scheme */
  --chalk-grey: #1A1A1A;
  --smoke-grey: #333333;
  --light-grey: #B3B3B3;
  --white: #FFFFFF;
  --green: #00A99D;
  --dark-green: #1C5350;
  --aubergine: #9e005d;
  --dark-aubergine: #491835;
  --gold-yellow: #FBB03B;
  --dark-gold-yellow: #533e18;

  /* Japanese Style (Dark theme) */
  --imperial-red: #B30000;
  --strong-gold: #B2953C;
  --light-gold: #A08D57;
  --paper-white: #F8F4DC;

  /* Colors for tags */
  --pink: #D94ACF; 
  --purple: #772B8C; 
  --violet: #503FBF; 
  --dark-blue: #172573; 
  --electric-blue: #1D64F2; 
  --light-blue: #3abbdb; 
  --light-turquoise: #53B1C2; 
  --turquoise: #3bbba8; 
  --light-green: #6de6d3; 

  /* Colors for errors */
  --error: #b10707;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

/* Japanese Fonts */

.jp-klee {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

.jp-line {
  font-family: "LINE Seed JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jp-zen {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}
