@font-face {
  font-family: "KanjiStrokeOrders";
  src: url("/web/src/assets/fonts/KanjiStrokeOrders_v4.005.ttf");
}

:root {
  /* Colors for errors */
  --error: #b10707;

  /* Colors for tags */
  --dark-blue: #172573;
  --electric-blue: #1D64F2;
  --light-blue: #3abbdb;
  --light-green: #6de6d3;
  --light-turquoise: #53B1C2;
  --pink: #D94ACF;
  --purple: #772B8C;
  --turquoise: #3bbba8;
  --violet: #503FBF;

  /* Colore scheme */
  --aubergine: #9e005d;
  --chalk-grey: #1A1A1A;
  --dark-aubergine: #491835;
  --dark-gold-yellow: #533e18;
  --dark-green: #1C5350;
  --gold-yellow: #FBB03B;
  --green: #00A99D;
  --light-grey: #B3B3B3;
  --smoke-grey: #333333;
  --white: #FFFFFF;

  /* Dark theme */
  background-color: var(--smoke-grey);
  color: rgba(255, 255, 255, 0.87);

  /* Fonts */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;

  /* Japanese Style (Dark theme) */
  --imperial-red: #B30000;
  --light-gold: #A08D57;
  --paper-white: #F8F4DC;
  --strong-gold: #B2953C;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin;
}

/* Japanese Fonts */

.jp-klee {
  font-family: "Klee One", cursive;
  font-style: normal;
  font-weight: 400;
}

.jp-line {
  font-family: "LINE Seed JP", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.jp-zen {
  font-family: "Zen Kurenaido", sans-serif;
  font-style: normal;
  font-weight: 400;
}
